body {
  margin: 0;
  line-height: normal;
}

:root {
    /* fonts */
    --font-inter: Inter;
    --font-montserrat: Montserrat;
    /* font sizes */
    --font-size-13xl: 32px;
    --font-size-xl: 20px;
    --font-size-base: 16px;
    --font-size-5xl: 24px;
    /* Colors */
    --color-beige: #fbf3e6;
    --color-darkolivegreen: #003205;
    --color-limegreen: rgba(74, 198, 30, 0.68);
    --color-darkslategray: #333;
    --color-dimgray: #666;
    /* Gaps */
    --gap-12xs: 1px;
    /* Border radiuses */
    --br-5xs: 8px;
    --br-3xs: 10px;
}
