.navbar {
    position: absolute;
    top: 25px;
    text-align: center;
}

.navbar-child {
    position: relative;
    top: -20px;
    box-sizing: border-box;
    display: inline-block;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    padding: 10px;
    width: fit-content;
    color: #004C08;
    border-radius: var(--br-3xs);
    background-color: var(--color-limegreen);
    border: 2px solid var(--color-darkolivegreen);
}

    .navbar-child:hover, .join:hover {
        background-color: rgb(110, 230, 90, 0.68);
        border: 3px solid var(--color-darkolivegreen);
    }

    .navbar-child:active, .join:active {
        font-weight: 600;
    }

.logo {
    position: relative;
    width: 77px;
    height: 70px;
    left: 30px;
}

.home {
    left: 200px;
}

.types-of-waste {
    left: 285px;
}

.discussion {
    left: 370px;
}

.how-to-recycle {
    left: 455px;
}

.join {
    position: relative;
    left: 570px;
    top: -15px;
    box-sizing: border-box;
    display: inline-block;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 29px;
    padding: 10px;
    width: fit-content;
    color: #004C08;
    border-radius: 25px;
    background-color: var(--color-limegreen);
    border: 3px solid var(--color-darkolivegreen);
}

.navbar-child a {
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #004C08;
}

    .navbar-child a:active {
        font-weight: 600;
    }

.footer,
.instagram-icon {
    position: absolute;
    top: 27px;
    left: 1400px;
    width: 34px;
    height: 34px;
}

.footer {
    top: 925px;
    left: 0;
    right: 0;
    width: 100%;
    height: 100px;
    font-size: var(--font-size-xl);
}

.footer-child {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-limegreen);
    border: 3px solid var(--color-darkolivegreen);
    box-sizing: border-box;
    width: 100%;
    height: 100px;
}

.recycle-now-all {
    position: absolute;
    bottom: 21px;
    left: 25px;
    font-size: var(--font-size-base);
    display: inline-block;
    width: calc(100% - 990px);
    height: 40px;
}

.about,
.contact-us,
.privacy-policy {
    position: absolute;
    bottom: 36px;
    display: inline-block;
    height: 29px;
    text-align: center;
}

.about {
    left: 915px;
    width: calc(100% - 1340px);
}

.contact-us {
    left: 1200px;
    width: calc(100% - 1320px);
}

.privacy-policy {
    left: 1030px;
    width: calc(100% - 1300px);
}

    .about:hover,
    .contact-us:hover,
    .privacy-policy:hover {
        font-weight: 500;
    }

.image-1-icon {
    position: absolute;
    top: 145px;
    left: 370px;
    width: 800px;
    height: 533.33px;
    object-fit: cover;
}

.recycling-helps-to {
    margin: 0;
}

.recycling-helps-to-container {
    position: absolute;
    top: 735px;
    left: calc(50% - 540px);
    font-size: var(--font-size-13xl);
    -webkit-text-stroke: 1px #003205;
}

.homepage {
    width: 100%;
    position: relative;
    background-color: var(--color-beige);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    height: 1024px;
    overflow: hidden;
    text-align: left;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    color: var(--color-darkolivegreen);
    overflow-y: scroll;
}

.footer a {
    text-decoration: none;
    font-size: var(--font-size-xl);
    color: var(--color-darkolivegreen);
    font-family: var(--font-inter);
}

    .footer a.active {
        font-weight: 500;
    }

@media screen (min-width: 900) and (max-width: 1200) {
    .homepage {
        overflow-y: hidden;
        overflow-x: auto;
    }

        .homepage::-webkit-scrollbar {
            width: 10px;
            background: #fbf3e6;
        }

        .homepage::-webkit-scrollbar-track {
            border: 2px solid #08391d;
        }

        .homepage::-webkit-scrollbar-thumb {
            background: #7fc447;
            border-radius: 15px;
        }
}

.headings {
    text-align: center;
    color: var(--color-darkolivegreen);
    position: absolute;
    top: 600px;
}

.user-table {
    border-collapse: collapse;
    border: 2px solid #003205;
    text-align: center;
    font-size: 15px;
    position: absolute;
    padding-top: 200px;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
    color: #003205;
}

input[type="text"],
input[type="email"],
input[type="number"],
select {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #003205;
    border-radius: 5px;
    transition: box-shadow 0.3s ease;
}

    input[type="text"]:hover,
    input[type="email"]:hover,
    input[type="number"]:hover,
    select:hover {
        box-shadow: 0 0 7px rgba(74, 198, 30, 0.68);
    }

input[type="submit"] {
    background-color: rgba(74, 198, 30, 0.68);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: calc(100% - 22px);
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

    input[type="submit"]:hover {
        background-color: #003205;
    }

/* Added styles for phone prefix container and select */
.phone-prefix-container {
    display: flex;
}

.phone-prefix-label {
    flex: 1;
}

.phone-prefix-select {
    flex: 2;
}

::-webkit-scrollbar {
    width: 10px;
    background: #f5e9dc;
}

::-webkit-scrollbar-track {
    border: 2px solid #d9b788;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, rgb(74, 198, 30), #003205);
    border: 2px solid #003205;
    border-radius: 15px;
}