.web-form-page {
    align-content: center;
    padding: 110px 20px 20px 100px;
    flex: 1;
}

h1 {
    font-family: 'Inter';
    font-style: normal;
    text-align: center;
    color: var(--color-darkolivegreen);
}


